*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
/* Navigation */
.navigation {
  background-color: #1f2937;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 15rem;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
}
/* End of Navigation */

/* First section */
.first-section {
  background-color: #1f2937;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 420px;
  display: flex;
  align-items: center;
}

.contentFirst {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 15rem;
}

.hero {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  width: 80%;
  margin-bottom: 5px;
}

.subHero {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 5px;
}

.buttonFirst {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: #f9faf8;
}

.imageFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 600px;
  background-color: grey;
}

/* Second section */
.second-section {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentSecond {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 35rem;
  gap: 3rem;
}

.titleSecond {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.container {
  display: flex;
  gap: 5rem;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 150px;
  text-align: center;
}

.box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

/* Third Section */
.third-section {
  background-color: #e5e7eb;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentThird {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 33.5rem;
  gap: 1rem;
}

.paragraph {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: black;
  align-self: flex-end;
}

/* Fourth section */
.fourth-section {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2.5rem 5rem;
  background-color: #3882f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.headerFourth {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.subHeaderFourth {
  font-size: 18px;
  color: #e5e7eb;
}

.buttonFourth {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 2px solid #f9faf8;
  background: none;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  align-items: center;
  color: #f9faf8;
}
