*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* IMPORTANT AS THIS ENSURES THAT ALL HAVE THE SAME LEFT AND RIGHT SPACE */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20rem;
  padding-right: 20rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header .links {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

/* Preparation for sections */
.first-section,
.second-section,
.third-section,
.fourth-section {
  flex: 1;
}

/* First Section */
.first-section {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 80%;
}

.sub-hero {
  font-size: 18px;
  color: #e5e7eb;
  width: 80%;
  margin-bottom: 10px;
}

.image {
  margin-left: auto;
  background: gray;
  padding: 100px 200px;
  color: white;
}

.button {
  background-color: #3882f6;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

/* Second section */
