*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
/* Navigation */
.navigation {
  background-color: #1f2937;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin: 0 15rem;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
}
/* End of Navigation */
