*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
/* Navigation */
.navigation {
  background-color: #1f2937;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin: 0 15rem;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
}
/* End of Navigation */

/* First section */
.first-section {
  background-color: #1f2937;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 420px;
  display: flex;
  align-items: center;
}

.contentFirst {
  border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 15rem;
}

.hero {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  width: 80%;
  margin-bottom: 5px;
}

.subHero {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 5px;
}

.buttonFirst {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: #f9faf8;
}

.imageFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 600px;
  background-color: grey;
}
